body {
    background-color: #F0F1F2;
    color:#666666;
    font-family:Helvetica,Arial,sans-serif;
    font-size:14px;
}
// reset-css设置
html,body,section,article,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
textarea{overflow:auto;resize:none;}
a,a:hover{text-decoration:none;}
a,a:hover{color:#333;}

// 箱箱常用:色号
// 箱箱常用:字号
.xx-f-10 {font-size:10px;}
.xx-f-12 {font-size:12px;}
.xx-f-14 {font-size:14px;}
.xx-f-16 {font-size:16px;}
.xx-f-18 {font-size:18px;}
.xx-f-20 {font-size:20px;}
.xx-f-22 {font-size:22px;}
.xx-f-24 {font-size:24px;}

// 盒模型方式默认都为border-box
.xx-bb {box-sizing: border-box;}
.xx-cb {box-sizing: content-box;}

// 清除浮动
.xx-clear {
    content:'';
    display:block;
    clear:both;
}

// 单行省略号（宽度）
.xx-elli {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 第二行省略号（+宽高）
.xx-ell-2 {
    overflow:hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

// 默认指示向
.xx-pointer {
	cursor:pointer;
}

// 默认圆角4px
.xx-radius{
	border-radius: 4px;
}

// 去掉高德左下角logo等图标
.amap-logo,
.amap-copyright { display:none !important; }

// Vue transition动画
.xx-enter-active, .xx-leave-active {
	transition: all 0.3s;
}
.xx-enter, .xx-leave-to {
	opacity: 0;
	transform: translateX(-10px);
}
.xx-enter-to {
  transform: translateX(0px);
  opacity: 1;
}

// spacing

// spacing-margin
.xx-mt-1{
    margin-top: 8px;
}
.xx-mt-2{
    margin-top: 16px;
}
.xx-mt-3{
    margin-top: 24px;
}
.xx-mt-4{
    margin-top: 32px;
}
.xx-mb-0{
    margin-bottom: 0 !important;
}

.xx-ml-1{
    margin-left: 8px;
}
.xx-ml-2{
    margin-left: 16px;
}
.xx-ml-3{
    margin-left: 24px;
}
.xx-ml-4{
    margin-left: 32px;
}

// spacing-padding
.xx-pt-1{
    padding-top: 8px;
}
.xx-pt-3{
    padding-top: 24px;
}

.xx-pl-1{
    padding-left: 8px;
}
.xx-pl-2{
    padding-left: 16px;
}

.xx-pr-1{
    padding-right: 8px;
}

.xx-d-flex{
    display: flex;
}
.xx-flex-auto{
    flex: 1 1 auto;
}
.xx-flex-col{
    flex-direction: column;
}
.xx-flex-items-center{
    align-items: center;
}
.xx-justify-center{
    justify-content: center;
}
.xx-justify-between{
    justify-content: space-between;
}
.xx-flex-wrap{
    flex-wrap: wrap;
}
.xx-justify-end{
    justify-content: flex-end;
}

// border
.xx-b-t{
    border-top: 1px solid #EEEEEE;
}